# Conexao com o MySQL (use os mesmos valores do docker-compose.yml)
DB_URL=jdbc:mysql://localhost:3306/etl_pipeline?createDatabaseIfNotExist=true&serverTimezone=UTC
DB_USERNAME=etl
DB_PASSWORD=etl

# Porta do backend
SERVER_PORT=8020
